.new-navbar {
  /* height: 5rem; */
  display: flex;
  align-items: center;
  /* padding-left: 20rem; */
  font-size: 0.875rem;
  color: #555;
  /* justify-content: space-between; */
}
.new-wrapper {
  /* width: 100%; */
  padding: 20px;
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  align-self: flex-start;
  /* z-index: 1; */
  /* margin-top: -50%;
  margin-left: 55%; */
}

.new-search {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 5px;
  border-radius: 2rem;
}

.new-search input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  &::placeholder {
    font-size: 20px;
  }
}

.new-items {
  display: flex;
  align-items: center;
}

.new-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.new-icon {
  cursor: pointer;
  font-size: 2rem !important;
}

.logout {
  cursor: pointer;
}
.new-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.new-counter {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: rgb(2, 2, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}
.chat-dropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.chat-dropdown img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: bold;
}

.chat-text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notifications-dropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.notifications-dropdown img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-details {
  display: flex;
  flex-direction: column;
}

.notification-text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
