
body, h1, h2, p, ul, li {
  margin-left: 1.25rem; 
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem; 
}

.navbar {
  background-color: #c1baba;
  color: white;
  padding: 0.9375rem; 
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  padding: 0.625rem; 
  border: none;
  border-radius: 1.5625rem; 
  width: 15.625rem;
  font-size: 1rem;
  outline: none;
}

.dropdown {
  position: relative;
  cursor: pointer;
  margin: 0 0.9375rem; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem; 
  z-index: 1;
  border-radius: 0.25rem; 
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2); 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 0.75rem 1rem;  
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.logout-btn {
  cursor: pointer;
}
