.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(219, 216, 216);
  }
  
  .sign-in-form {
    background-color: rgb(245, 244, 241);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30%;
    height: 70%;
  }
  
  .sign-in-form h2 {
    color: black;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .form-group label {
    display: block;
    color: black;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .sign-in-button {
    background-color: black;
    color: gold;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-in-button:hover {
    background-color: #333; 
  }
  
  .moving-signUp{
    margin-left: 1%;
  }
  .form-config{
    margin-top: 20%;
    margin-right: 5%;
  }