.btnAdd {
    background-color: black ;
    transition: 0.3s;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 150px;
   
} 

.ant-modal-footer {
    display: flex;
    flex-direction: row;
}



.titleClient {
    font-size: 1.5rem;
    font-family: "inherit";
    text-align: center;
    width: 8rem;
    margin-left: 2rem;
}
/* .firstDiv {
    display: flex;
    align-items: center; 
    justify-content: "flex-end"  

} */
/* .table-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
} */
/* .allPage {
    height: 100%;

} */


