.btnAdd-client {
    background-color: black ;
    transition: 0.3s;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 150px;
   
} 

.ant-modal-footer {
    display: flex;
    flex-direction: row;
}


.firstDiv-user {
    display: flex;
    align-items: center; 
 justify-content: flex-end;
 padding: 1rem;

}
.table-wrapper {
 height: 200px;
 width: 400px;
}
.allPageUser {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;

}


