

.aziz {
    display: flex;
    height: 100vh;
  }
.aziz .sidebar-dash {
    width: 20%;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .aziz .container {
    display: flex;
    height: 100vh;
  }
  
  .chat-section {
    width: 30%;
    margin-left: 15%;
  }
  
  .conversation-section {
    width: 70%;
    overflow-y: auto;
    margin-left: 15%;
    flex-direction: column;
  }
  
  .conversation-container {
    height: 75%; 
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
  }
  .conversation-container {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .input-container {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    width: 100%;
    
  }
  
  .form-outline {
    margin-right: 10px;
  }
  
  .btn-rounded {
    margin-left: 10px;
  }
  .blue-background {
    background-color: blue; /* You can adjust the color as needed */
    color: white; /* You can adjust the text color as needed */
  }