.lawyers-task-list {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
  }
  
  .task-list-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .task-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .task-input,
  .deadline-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(196, 177, 177, 0.269);
    color: #080808;
  }
  
  .add-task-button {
    padding: 10px 20px;
    background-color: gold;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #333;
  }
  
  .task-description {
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
.checkbox-task {
    margin-right: 15px; 
    /* width: 15px;
    height: 15px; */
  }
  
  .task-deadline {
    color: #888;
    font-size: 20px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #636262;
    font-size: 20px;
    display: flex;
    align-items: center; /* Center the line-through vertically */
  }
  
  .delete-task-button {
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .no-tasks-message {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: 20px;
  }
  