.lawyers-task-list {
  
}

.task-list-title {
  text-align: center;
  font-size: 40px;

  color: goldenrod; 
}

.task-input-container {
  display: flex;
  justify-content: center;
  width: 50rem;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  
}

.task-input,
.deadline-input {
  flex: 1;
  padding: 10px;
  /* margin-right: 10px;s */
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2; /* Light gray background */
  color: #333;
  height: 60px;
}

.add-task-button {
  padding: 10px 20px;
  background-color: gold; /* Green color for the button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 3rem;
}

.task-card {
  flex: 0 1 calc(33.33% - 20px);
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.task-card-header {
  display: flex;
  align-items: center;
}

.checkbox-task {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.task-description {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}

.task-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.task-deadline {
  color: #888;
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: #636262;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.delete-task-button {
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.no-tasks-message {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin-top: 20px;
}
