.modal-content {
    width: 35em;
    height: 15em;
}
.form-floating {
    /* padding: 0.5rem; */
    width: 40%;
}
.btn {
    background-color: black ;
    transition: 0.5s;
    font-size: 1.1rem;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    height: 40px;;
    width: 150px;

}
.btn:hover {
    background-color: #f8c844; 
     color: black;
} 

.modal-dialog {
    height: 200px;;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
}
#staticBackdropLabel {
    font-weight: bold !important;
    font-size: 24px !important;
}