/* .container {
  display: flex;
  justify-content: center;
}

.data-grid {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 14%;
  width: 150%;

}


.ant-table {
  width: 100%;
}

.ant-table-pagination {
  margin-right: 16px;
  margin-top: 16px;
}

.sidebar {
  flex-shrink: 0;
} */

.MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: transparent !important; /* Set the background color to transparent on hover */
} 
.MuiButtonBase-root.MuiIconButton-root {
  overflow: hidden !important;
}
