.container {
  display: flex;
}

.data-grid {
  margin-left: 20%;
  margin-top: 20px;
  width: 100%;
  overflow-x: auto; 
}

.ant-table {
  width: 100%;
}

.ant-table-pagination {
  margin-right: 16px;
  margin-top: 16px;
}

.sidebar {
  flex-shrink: 0;
}
