.payment-receipt {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 90%;
    height: 495px;
    margin-left: 27.5%;
    margin-top: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .hello{
    margin-left: 2%;
  }
  .print-button{
    width: 20%;
    margin-left: 14%;
    margin-top: 7%;
  }
  .update-button{
    width: 20%;
    margin-left: 30%;
  }
  .descript{
    margin-left: 2%;
    margin-top: -1%;
  }
  .img-logo{
    width: 7%;
   height: 7%;
    margin-left: 40.9%;
   margin-top: -1%; 
  }
  .newcomp{
    width: 255%;
    height: 535%;

  }
  .payment-receipt h2 {
    color: #333;
    font-size: 24px;
  }
  .mira-des{
    margin-left: 2%;
  }
  
  .payment-receipt p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .quantity{
    margin-left: 33%;
    margin-top: -15.7%;
  }
  .amount{
    margin-left: 70%;
    margin-top: -12.8%;
  }
  .receipt-details {
    margin-top: 20px;
  }
  .para{
    margin-left: 2%;
  }
  
  .receipt-details h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .receipt-details p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
  }
.dateP{
    margin-left: 70%;
    /* margin-bottom: 90%; */
    margin-top: 7%;

}
.payNo{
    margin-top: -11%;
    margin-left: 2%;
}
.recDetail{
    margin-top: 3%;
    margin-left: 2%;
}
.descriptionn{
    margin-left: 70%;
    margin-top: -10%;
}
  .allll{
    margin-top: 11%;
  }
.SUB{
  margin-left: 33%;
}
.pay{
  margin-left: 70%;
  margin-top: -10%;
}