.new-sidebar {
  width: 14rem;
  height: 100vh;

  background-color: black;
  border-right: 0.03125rem solid rgb(0, 0, 0);
  transition: width 0.3s ease;
}



.g-1 {
  display: flex;
  
  gap:1.2rem
  
   

}

/* .line {
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-top: "12rem";
} */

.new-logo {
  width: 7rem;
  height: 6rem;


}

.center-section {
  margin-top: 3rem; 
 
}

.new-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-menu-list li {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .link:hover {
    color: black;
  }
    .new-separator {
      height: 10rem;
      width: 12px;
      background-color: aliceblue;
    }
      .new-icon {
        font-size: 1.2rem;
        color: #d4af37;
      }
      .side-title{
        cursor: pointer;
        font-size: 17px;
      }
      span {
        font-size: 0.8125rem;
        font-weight: 600;
        color: #ffffff;
        margin-left: 0.625rem;
        cursor: pointer;
        text-decoration: none     ;
      }
    }


    .new-bottom {
      display: flex;
      align-items: center;
      margin: 0.625rem;
    }
  .new-color-option {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.3125rem;
    margin-right: 0.3125rem;
  }
  .new-icon {
    font-size: 1.125rem;
    color: #d4af37;
  }
  .side-title {
    cursor: pointer;
  }
  span {
    font-size: 0.8125rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 0.625rem;
    cursor: pointer;
    text-decoration: none;
  }


.new-bottom {
  display: flex;
  align-items: center;
  margin: 0.625rem;
}
.new-color-option {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.3125rem;
  margin-right: 0.3125rem;
}
