
#navBar {
  display: flex;
  flex-direction: column;
  border-color: #2A2528;
font-size: 100px;}

.topSection {
  background: linear-gradient(to right, #b38728, #fbf5b7, #aa771c);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  
  color: white;
  height: 100%;
}

.rightSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.navBarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navBarLink {
    color: white;
    cursor: pointer;
}

.navBarLink:hover {
    color: rgba(255, 255, 255, 0.482);
}
ul #navbar_link{
  /* background-color: white; */
  color: white;
  font-weight: 700;

  transition: all 0.5s ease-in-out;
}
ul #navbar_link:nth-child(even):hover{
background-color:black;



}
ul #navbar_link:nth-child(odd):hover{
  background-color:black;

  
 }
.navBarIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
}

.facebookIcon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 3px;
    cursor: pointer;
}

.instagramIcon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.linkidinIcon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.bottomSection {
  height: 30rem;
  width: 100%;
  background-color: #2A2528;
}

/* Variables */
:root {
    --background-purple: #EEEEEE;
    --subtle-white: #f9f9f9;
    --subtle-grey: #f2f2f2;
    --masked-grey: #333;
    --blue: #F03861;
    --open-sans: 'Open Sans', sans-serif;
  }
  
  /* Reset */
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    background-color: var(--background-purple);
  }
  
  /* Page Container */
  .container {
    width: 100%;
    height: 100%;
  }
  
  /* Tutorial Styles */
  .tutorial {
    width: 80rem;
    margin: 5rem auto 0 auto;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    background-color: var(--subtle-white);
    max-width: 80rem;
  }
  
  .slider {
    width: 100%;
    height: 30rem;
    background-color: var(--blue);
  }
  
  .information {
    width: 100%;
    padding: 2rem 5rem;
    margin-bottom: 3rem;
    font-family: var(--open-sans);
  }
  
  .information h1 {
    color: var(--masked-grey);
    font-size: 1.5rem;
    padding: 0 1rem;
    border-left: 0.3rem solid var(--blue);
  }
  
  .information h3 {
    color: darken(var(--subtle-grey), 7%);
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem;
    border-left: 0.3rem solid var(--blue);
  }
  
  .information p {
    padding: 1rem 0;
  }
  
  /* Dropdown Menu Styles */
  .ul {
    font-size: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  
  .ul > li {
    font-family: var(--open-sans);
    font-size: 1rem;
    font-weight: 400;
    color: var(--masked-grey);
    display: inline-block;
    padding: 1.5rem;
    position: relative;
  }
  
  ul > li:hover {
    cursor: pointer;
    background-color: var(--subtle-grey);
  }

  ul > li:hover > ul {
    display: block;

  }
  
  ul > li > ul {
    display: none;
    position: absolute;
    width: 20rem;
    left: 0;
  }
  
  ul > li > ul > li {
    display: block;
    background-color: darken(var(--subtle-white), 7%);
  }
  
  ul > li > ul > li > span {
    float: right;
    color: var(--subtle-white);
    background-color: var(--blue);
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.3rem;
  }
  
  ul > li > ul > li:hover {
    background-color: darken(var(--subtle-white), 10%);
  }
  
  ul > li > ul > li:hover > span {
    background-color: darken(var(--blue), 5%);
  }

  .custom-modal .modal-dialog {
    max-width: 90%;
  }
  
  @media (min-width: 576px) {
    .custom-modal .modal-dialog {
      max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    .custom-modal .modal-dialog {
      max-width: 700px;
    }
  }
  
  @media (min-width: 992px) {
    .custom-modal .modal-dialog {
      max-width: 900px;
    }
  }
  
  @media (min-width: 1200px) {
    .custom-modal .modal-dialog {
      max-width: 1140px;
    }
  }



  	.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}